<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout">
<head>
<meta charset="utf-8" />
<title>Produits</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" />

<link rel="stylesheet" type="text/css" href="../static/css/style.css"
	th:href="@{css/style.css}">
</head>
<body>
	<div layout:fragment="content">
		<div class="spacer col-md-6 col-xs-12">
			<div class="panel panel-default">
				<div class="panel-heading">Saisie d'un produit</div>
				<div class="panel-body">
					<form th:action="@{/admin/save}" method="post">
						<div class="form-group">
							<label class="control-label">Désignation:</label> <input
								class="form-control" type="text" name="designation"
								th:value="${produit.designation}" /> <span class="red"
								th:errors="${produit.designation}"></span>
						</div>
						<div class="form-group">
							<label class="control-label">Prix:</label> <input
								class="form-control" type="text" name="prix"
								th:value="${produit.prix}" /> <span class="red"
								th:errors="${produit.prix}"></span>

						</div>
						<div class="form-group">
							<label class="control-label">Quantité:</label> <input
								class="form-control" type="text" name="quantite"
								th:value="${produit.quantite}" /> <span
								th:errors="${produit.quantite}"></span>

						</div>
						<div>
							<button type="submit" class="btn btn-primary">Save</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>