<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<title>Produits</title>
<link rel = "stylesheet" href = "https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" 
	/>
</head>
<body>
	<div class="container">
		<div class="panel panel-default">
			<div class="panel-heading">Saisie d'un produit</div>
			<div class="panel-body">
				<form th:action="@{save}" method="post">
					<div class="form-group">
						<label class="control-label">Désignation:</label>
						<input class="form-control" type="text" name="designation" th:value="${produit.designation}"/>
					</div>
					<div class="form-group">
						<label class="control-label">Prix:</label>
						<input class="form-control" type="text" name="prix" th:value="${produit.prix}"/>
					</div>
					<div class="form-group">
						<label class="control-label">Quantité:</label>
						<input class="form-control" type="text" name="quantite" th:value="${produit.quantite}"/>
					</div>
					<div>
						<button type="submit" class="btn btn-primary">Save</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</body>
</html>